.container {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}
.circle{
  position:relative;
  width:200px;
  height:200px;
  svg{
    fill:none;
    stroke:#8a3ab9;
    stroke-linecap: round;
    stroke-width:3;
    // stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: stroke-draw 10s ease-out infinite alternate-reverse; 
    // animation: stroke-draw 6s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate; 
    // enable-background:new -580 439 577.9 194;
  }
  img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:140px;
    border-radius:50%;
  }
}
@keyframes stroke-draw {
  from{
    stroke:#8a3ab9;
    stroke-dasharray: 1;
  }
  to{
    stroke:#cd486b;
    transform:rotate(360deg);
    // stroke-dasharray: 25;
  }
}
