.container {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}
.circle{
  position:relative;
  width:200px;
  height:200px;
  .svg1{
    fill:none;
    stroke:#8a3ab9;
    stroke-linecap: round;
    stroke-width:3;
    stroke-dashoffset: 0;
    animation: stroke-draw 10s ease-in-out infinite alternate-reverse; 
  }
  .svg2{
    position: absolute;
    left: 0;
    top: 0;
    fill:none;
    stroke:#8a3ab9;
    stroke-linecap: round;
    stroke-width:3;
    stroke-dashoffset: 0;
    animation: stroke-draw 10s ease-in-out infinite alternate-reverse; 
  }
  img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:140px;
    border-radius:50%;
  }
}
@keyframes stroke-draw {
  from{
    stroke:#8a3ab9;
  }
  to{
    stroke:#cd486b;
    transform:rotate(360deg);

  }
}
